html, body {
width: 100%;
height: 100%;
margin:0;
padding:0;
overflow:hidden;
  transition:
  background-color .5s;
}
.page {
min-height: 100%;
width: 100%;}
a {
  color: #d4c8be;
  text-decoration: none;
}
a:hover {color:#c39e9e}



.navigation {
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #eadad0;
    box-shadow: 0 4px 4px -3px #232323;
    -moz-box-shadow: 0 4px 4px -3px #232323;
    -webkit-box-shadow: 0 4px 4px -3px #232323;
    overflow: hidden;
    transition: all .2s ease-in-out;
    padding-top: 0px;

}

.navigation a {
    text-decoration: none;
}

.navigation ul {
    margin-top:30px;
    text-align:center;
    list-style:none;
    margin-left:auto;
    margin-right:auto;
}


.menulist {
    width:200px;
}


.logo {
    text-align:center;
    margin:0 auto;
}

.line1, .line2, .line3 {
  margin-top:5px;
  background-color:#fff;
  width:25px;
  height:3px;
  display:block;
  position:relative;
  opacity:1.0;
  border-radius:15%;
  transition: all .3s;
}

.line1.active {
  transform: rotate(270deg);
  opacity:0.0;
  background-color:white;
  top:5px;
}

.line2.active {
  transform: rotate(45deg);
  background-color:white;
}

.line3.active {
  transform: rotate(-45deg);
  background-color:white;
  top:-7px;
}

.menuitems {
    padding-top:12px;
    padding-bottom:12px;
    text-decoration: none;
    list-style:none;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-size: 24px;
    display: inline-block;
    position:relative;
    text-align:center;
    color: #caa78d;
    opacity:0.0;
    transition: all .5s ease-in-out;
}

.menuitems:after {
  content:'';
  display:block;
  width: 0;
  height: 1px;
  background: #fff;
  transition: width .2s;
}

.menuitems:hover::after {
    width:100%;
}

#closebtn {
    height:25px;
    width:25px;
    position: absolute;
    text-decoration:none;
    top: 10px;
    left: 25px;
    font-size: 36px !important;
    margin-right: 50px;
    z-index:100;
    color:#a8ad97;
    cursor:pointer;
    trainsition:background-position .3s;
}

#main {
    transition: margin-top .2s ;
    text-align:center;
    margin:0px;
    padding: 0px;
    font-size:30px;

}

  .container {
    width: 100vw;
    height:100vh;
    margin:0;
    position: relative;
  }


  .container .other-content {
    position:absolute;
    top: 10%;
    left: 0;
    width: 100%;
    text-align:center;
    z-index: 2;
    padding: 0px;
    font-size: 50px;
    color: #c39e9e;
    font-family: 'Josefin Sans', bold;

  }

  .container .slide {
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    transition: opacity 1s ease-in-out;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    opacity: 0;
  }

  .container .slide.show {
    opacity: 1;
  }
  .content
  {font-family: 'Fjalla One'; font-size: 80px ; color:#d4c8be; }
